<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание контакта</title>
</head>
<body>
<h1>Создание контакта</h1>
<form action="/contact/create" method="post">
    <input type="hidden" name="id" th:value="${contact.id}">
    <div>
        <label for="firstName">Имя</label>
        <input type="text" id="firstName" name="firstName" required th:value="${contact.firstName}">
    </div>
    <div>
        <label for="lastName">Фамилия</label>
        <input type="text" id="lastName" name="lastName" required th:value="${contact.lastName}">
    </div>
    <div>
        <label for="email">Почта</label>
        <input type="text" id="email" name="email" required th:value="${contact.email}">
    </div>
    <div>
        <label for="phone">Телефон</label>
        <input type="text" id="phone" name="phone" required th:value="${contact.phone}">
    </div>
    <button type="submit">Сохранить</button>
</form>
</body>
</html>